.bio-box{
    height: 50vh;
    display: inline-block;
    margin-left: 2%;
    width: 300px;
    margin-right: 10%;
    margin-left: 5%;
}
.text{
    text-align: center;
}
.username{
    font-size: 33px;
}
.image{
    border-radius: 50%;
    width: 300px;
}

@media only screen and (max-device-width: 480px) {
    .bio-box{
      height: 80vh;
      width: 95%;
      margin: auto;
     }
     .image{
       display: block;
       margin: 0 auto;
     }
   
   }